
.login-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--light-color);
  align-items: center;
  position: relative;
}

.login-form {
  height: 50vh;
  width: 80vw;
  /* background: var(--light-color); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2vmin;
 /*  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(0, 0, 0, 0.1); */
}

.login-error {
  color: red;
}

.login-hero {
  width: 100vw;
  height: 100vh;
  color: var(--light-color);
  background: var(--dark-shade);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
/*   display: flex;
  justify-content: center; */
}

.login-logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  color: white;
  margin-top: 5vmin;
}

.login-hero-title {
  font-size: 4em;
  font-weight: 800;
  display: none;
}

.login-hero-text {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.input-label {
  z-index: 1;
  transform: translate(4vmin, 150%);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 5vmin 2vmin 3vmin 4vmin;
  border-radius: 1vmin;
  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(0, 0, 0, 0.1), inset 0px 0px 0px 0px var(--light-accent);
  transition: 0.2s ease;
}

.input:focus {
  /* border-bottom: 5px solid var(--light-accent); */
  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(0, 0, 0, 0.1), inset 5px -5px 0px 0px var(--light-accent);
}

.main-button {
  border: none;
  background: none;
  background-color: var(--light-accent);
  margin-top: 30px;  
  display: flex;
  border-radius: 1vmin;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 10px;
  width: 100%;
  transition: 0.1s ease;
  cursor: pointer;
}

.main-button:hover {
  background: #cf9d3f;
}

.main-button:active {
  background: #a57d32;
}