.navbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--darker-shade);
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0 0 5vmin 0vmin rgba(0,0,0,0.05);
}

.navbar-logo {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  border-right: 1px solid rgba(106, 126, 150, 0.2);
  margin-right: 20px;
  padding-right: 20px;
}

.nav-link {
  color: var(--light-color);
  text-decoration: none;
  font-size: 1.8vmin;
  border-radius: 1vmin;
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
}


.nav-link:hover {
  /* color: var(--light-accent); */
  background-color: rgba(106, 126, 150, 0.2);
  box-shadow: 0 0.1vmin -0.4vmin 0.1vmin rgba(0,0,0,0.2);
}

.nav-link:active {
  color: var(--light-accent);
  background-color: rgba(106, 126, 150, 0.2);
  box-shadow: 0 0.1vmin -0.4vmin 0.1vmin rgba(0,0,0,0.2);
  transform: scale(0.9);
}

.nav-link > .nav-link-content > span:last-child {
  opacity: 0;
  transition: 0.2s ease;
}

.nav-link > .nav-link-content > span:first-child {
  transform: translateY(1.5vmin);
  transition: 0.2s ease;
}

.nav-link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.material-icons {
  transform: scale(0.9);
}

button {
  display: inline;
}

.nav-active {
  color: var(--light-accent);
  background-color: rgba(106, 126, 150, 0.2);
  box-shadow: inset 0 0vmin 0.1vmin 0vmin rgba(0,0,0,0.1);
  
}

.nav-active > .nav-link-content > span:last-child {
  opacity: 1;
  transition: 0.2s ease;
}

.nav-active > .nav-link-content > span:first-child {
  transform: translateY(0);
  transition: 0.2s ease;
}

@media screen and (min-width: 900px) {
  .navbar{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
  }
  .main-nav {
    display: flex;
    flex-direction: column;
    width: auto;
    border: none;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .navbar-logo {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: var(--light-accent);
    margin-bottom: 10vmin;
    user-select: none;
  }
  
  .nav-link {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;
  }
  .nav-link-content {
    flex-direction: row;
    text-transform: uppercase;
  }
  .nav-link > .nav-link-content > span:last-child {
    opacity: unset;
    margin-left: 10px;
  }
  .nav-link > .nav-link-content > span:first-child {
    transform: unset;
  }
  .nav-active > .nav-link-content > span:last-child {
    opacity: unset;
  }
  .nav-active > .nav-link-content > span:first-child {
    transform: unset;
  }
}
