.navbar{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 3vmin;
  margin-right: 50px;
  box-shadow: 0 0 5vmin 0vmin rgba(0,0,0,0.2);
}

.navLinks {
  color: black;
  text-decoration: none;
  font-size: 2vmin;
}

button {
  display: inline-block;
}