@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
  --light-color: #E0E9EF;
  --light-accent: #F0B549;
  --brand-color: #7D96B3;
  --dark-accent: #B94247;
  --dark-shade: #3F394A;
  --lighter-color: rgba(233, 242, 248, 0.6);
  --darker-shade: #322d3b;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-shade);
  color: var(--light-color);
}

.main-content {
  padding: 0vmin 0vmin 20vmin 0vmin;
  width: 100vw;
  overflow: scroll;
  padding: 50px;
}

.card-container {
  background-color: white;
  width: 100%;
  transform: translateY(-5%);
  opacity: 0;
  animation: card 0.2s ease forwards;
}

@keyframes card {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-header {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-title {
  color: var(--light-accent);
  font-size: 0.9em;
  text-transform: uppercase;

}

.greeting-text {
  color: var(--light-accent);
  transform: translateY(-100%);
  font-weight: 400;
}

.card-container {
  padding: 20px;
  background-color: var(--darker-shade);
  border-radius: 2vmin;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  flex-direction: column;
}

.admin-dashboard{
  width: 100%;
}

.account-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.input-label {
  z-index: 1;
  transform: translate(2vmin, 130%);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}

.input-field {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  padding: 1.5em 2vmin 0.5em 2vmin;
  border-radius: 1vmin;
  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(0, 0, 0, 0.1), inset 0px 0px 0px 0px var(--light-accent);
  transition: 0.2s ease;
  background-color: var(--light-color);
}

.input-field:focus {
  box-shadow: 0 0.7vmin 2vmin 1vmin rgba(104, 76, 76, 0.1), inset 4px -4px 0px 0px var(--dark-accent);
}

table {
  width: 100%;
  border-spacing: 0 10px;
}

th {
  text-align: left;
  padding: 1.2em;
  color: var(--lighter-color);
  font-weight: 500;
}


tr:not(:first-child):hover {
  box-shadow: 0 0.5vmin 1vmin 0vmin rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(233, 242, 248, 0.1);
}

td {
  color: var(--light-color);
  border: none;
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.2s ease;
  border-bottom: 1px solid rgba(233, 242, 248, 0);
}

tr:not(:last-child) td {
  border-bottom: 1px solid rgba(233, 242, 248, 0.05);
}

tr:hover td {
  background-color: #28242F ;
  color: var(--light-color);
  border: none;
  padding: 1em;
  border-bottom: 1px solid rgba(233, 242, 248, 0);
}

tr:hover td:first-child{
  border-radius: 1vmin 0 0 1vmin;
}

tr:hover td:last-child{
  border-radius: 0vmin 1vmin 1vmin 0vmin;
}