@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
  --light-color: #E0E9EF;
  --light-accent: #F0B549;
  --brand-color: #7D96B3;
  --dark-accent: #B94247;
  --dark-shade: #3F394A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-color);
}

.main-content {
  padding: 5vmin 5vmin 20vmin 5vmin;
  width: 100vw;
  overflow: scroll;
}
